{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <p>Dear {{ first_name }},</p>

    <p>You are receiving this email because you requested a password reset for your account.</p>

    <p>Please click the link below to set your new password.</p>

    <p>
        <a href="{{ frontend_base_url }}/reset-password?uid={{ uid }}&token={{ token }}">Reset Password</a>
    </p>

    <p>Please note that this link will expire after 24 hours.</p>

    <p>Thank you for using our service.</p>
</body>
</html>
{% endautoescape %}